
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Showing {{ pocet_predmetov }} lessons </h2>
        <table class="table table-bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nazov</th>
          <th>Detaily</th>
        </tr>
      </thead>
      <tbody>
        {% for predmet in predmety %}
          <tr>
              <td><a href="{% url 'hour' predmet.id%}">{{ predmet.id }}</a></td>
              <td>{{ predmet.nazov }}</td>
              <td>{{ predmet.detaily }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <nav aria-label="Cat navigation">

          <form class="form-inline" method="get" action="{% url 'zobrazZoznamPredmetov'  %}">
                      <div class="form-group input-group-sm" style="display:inline-flex; float:left; margin-right:0px;">
      <input class="form-control me-2" type="search" placeholder="Show Page" aria-label="Search" name="page" >
      <input type="hidden" name="search_term" value={{ searched_term }}>
         <div>
        <button class="btn btn-dark">Show</button></div>
        </div>
          </form>


  <ul class="nav justify-content-center">
      {% if predmety.has_previous %}
          <li class="page-item"><a class="page-link" style="background:#161c2d ; color: white" href="?page=1">First</a></li>
          <li class="page-item"><a class="page-link" style="background:#161c2d ; color: white" href="?page={{ predmety.previous_page_number }}">Previous</a></li>
      {% endif %}
  <li class="page-item active" aria-current="page">
      <span class="page-link" style="background:white ; color: black; border-color: #161c2d">Current page: {{ predmety.number }}</span>
    </li>
  {% if predmety.has_next %}
    <li class="page-item"><a class="page-link" style="background:#161c2d ; color: white" href="?page={{ predmety.next_page_number}}">Next</a></li>
      <li class="page-item"><a class="page-link" style="background:#161c2d ; color: white" href="?page={{ predmety.paginator.num_pages}}">Last</a></li>
  {% endif %}
  </ul>
</nav>
    <h3>The phone prefix for slovakia is {{ soap }}, this was provided by a SOAP API !</h3>
     <button type="button" onclick="location.href='{% url 'camundaProces' %}'">Click me to start the camunda process!</button>
    </div>

{%  endblock %}